.order {
  background-image: url("../../assets/Images/png/order_background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 234px 0;
}

.order_wrapper {
  background-image: url("../../assets/Images/png/order_wrapper_background.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 30px;
}

.order_items {
  border: 2px solid #333333;
  padding: 62px 39px;
  display: flex;
  align-items: center;
  gap: 50px;
  position: relative;
}

.order_items_btn {
  border-left: 1px solid #333333;
  padding-left: 50px;
  width: 100%;
  position: relative;
}

.order_items_btn h1 {
  color: #323232;
  font-family: Gilroy;
  font-size: 52px;
  font-style: normal;
  font-weight: 700;
  line-height: 59px;
}

.order_items_btn p {
  color: #323232;
  font-family: Gilroy;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 29px;
}

.order_items_btn button {
  margin-top: 30px;
  padding: 24px 40px;
  color: #323232;
  text-align: center;
  font-family: Inter;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border: none;
  background-color: #ffb800;
  border-radius: 5px;
  cursor: pointer;
}

.order_items h2 {
  color: #323232;
  font-family: Gilroy;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 39px;
}

.order_items img {
  position: absolute;
  right: 115px;
  padding-left: 10px;
}

@media only screen and (max-width: 1800px) {
  .order {
    padding: 170px 0;
  }

  .order_wrapper {
    padding: 20px;
  }
  .order_items {
    padding: 40px 20px;
  }
  .order_items h2 {
    font-size: 26px;
  }

  .order_items_btn h1 {
    font-size: 42px;
  }
  .order_items_btn p {
    font-size: 18px;
  }

  .order_items_btn button {
    font-size: 30px;
  }
}

@media only screen and (max-width: 1300px) {
  .order_items img {
    width: 20%;
  }
  .order_items {
    padding: 30px 10px;
  }
  .order_items h2 {
    font-size: 24px;
  }

  .order_items_btn h1 {
    font-size: 35px;
  }
  .order_items_btn p {
    font-size: 14px;
  }

  .order_items_btn button {
    font-size: 28px;
  }
}

@media only screen and (max-width: 1000px) {
  .order_items h2 {
    text-align: center;
    font-size: 40px;
  }

  .order_items img {
    width: 150px;

    right: inherit;
    top: 20%;
  }

  .order_items {
    flex-direction: column;
    justify-content: center;
  }

  .order_items_btn {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 300px;
    padding: 0;
  }
}

@media only screen and (max-width: 425px) {
  .order{
    padding: 70px 0;
  }
  .order_items h2 {
    font-size: 22px;
  }

  .order_items img {
    width: 120px;
  }

  .order_items_btn {
    margin-top: 250px;
  }

  .order_items_btn h1 {
    font-size: 22px;
  }

  .order_items_btn p {
    font-size: 12px;
  }

  .order_items_btn {
    font-size: 12px;
  }

  .order_items_btn button {
    font-size: 22px;
    padding: 7px 50px;
  }
}
