.zakajite-section{
  padding: 100px 50px;
  background-image: url("../../assets/Images/png/Zakajite/Background.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: black;
}
.zakajite__wrap-text{
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.zakajite__wrapper > h2{
  color: #FFF;
text-align: center;
font-family: Gilroy;
font-size: 52px;
font-style: normal;
font-weight: 700;
line-height: 59px; /* 113.462% */
text-transform: uppercase;
margin-bottom: 20px;
}
.zakajite__wrapper > h3{
  color: #FFF;
  text-align: center;
  font-family: Gilroy;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 39px;
  margin-bottom: 40px;
}
.zakajite__text-inner{
  width: 30%;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
background: #FFF;
box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.10);
}
.zakajite__text-inner > h5{
  color: #FFB800;
text-align: center;
font-family: Gilroy;
font-size: 22px;
font-style: normal;
font-weight: 700;
line-height: 29px; /* 131.818% */
letter-spacing: 0.22px;
margin-bottom: 10px;
}
.zakajite__text-inner > p{
  color: #323232;
text-align: center;
font-family: Gilroy;
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: 29px; /* 131.818% */
letter-spacing: 0.22px;
}
.zakijacte__cost{
  margin-top: 30px;
  margin-bottom: 133px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
}
.zakijacte__cost > h4{
  color: rgba(255, 255, 255, 0.70);
  font-family: Gilroy;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: 27px; /* 135% */
  text-decoration-line: line-through;
}
.zakijacte__cost > h5{
  color: #FFF;
  font-family: Gilroy;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 47px; 
  margin-bottom: 10px;
}
.zakijacte__cost > button{
  cursor: pointer;
  border: none;
  outline: none;
  display: block;
  width: 271px;
  height: 91px;
  border-radius: 4px;
  color: #323232;
text-align: center;
font-family: Inter;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: normal;
background-color: #FFB800;
}
.zakijate__document{
  width: 100%;
  padding: 30px;
  margin-bottom: 90px;
  background-image: url("../../assets/Images/png/Zakajite/zakijatebag.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.zakijate__documnent-inner{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center; 
  gap: 10px;   
}
.zakijate__doc-text{
  max-width: 350px;
}
.zakijate__doc-text > h4{
  color: #323232;
font-family: Gilroy;
font-size: 22px;
font-style: normal;
font-weight: 700;
line-height: 29px;
margin-bottom: 10px;
}
.zakijate__doc-text > p{
  color: #323232;
  font-family: Gilroy;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 29px;
}
.div__zkijate-doc1{
  position: absolute;
  right: 30px;
  cursor:zoom-in;
}
.div__zkijate-doc2{
  position: absolute;
  left: 30px;
   cursor:zoom-in;
}
.zakijate__docin{
  border: 2px solid #333;
  padding: 10px;
}
.zakijate__document-img{
  display: none;
}
.zakijate__document-img >img{
  cursor: zoom-in;
}
.div__zkijate-doc1 > img:hover{
  transform: scale(1.1);
  transition: all 0.6s;
}
.div__zkijate-doc2 > img:hover{
  transform: scale(1.1);
  transition: all 0.6s;
}
.zakijate__document-img >img:hover{
  transform: scale(1.1);
  transition: all 0.6s;
}
.zakijate__about > h5{
  color: rgba(255, 255, 255, 0.70);
text-align: center;
font-family: Gilroy;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 25px; /* 138.889% */
letter-spacing: 0.18px;
margin-bottom: 10px;
}
.zakijate__about > p{
  color: rgba(255, 255, 255, 0.50);
  text-align: center;
  font-family: Gilroy;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 25px; /* 138.889% */
  letter-spacing: 0.18px;
}

@media only screen and (max-width:1367px){
  .zakijate__documnent-inner{
    padding:10px 300px ;
  }
}
@media only screen and (max-width:1272px){
  .zakijate__documnent-inner{
    padding:10px 270px ;
  }
  .zakijate__doc-text > h4{
    color: #323232;
  font-family: Gilroy;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px;
  margin-bottom: 10px;
  }
  .zakijate__doc-text > p{
    color: #323232;
    font-family: Gilroy;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
  }
  .div__zkijate-doc1{
    position: absolute;
    right: 5px;
    cursor:zoom-in;
  }
  .div__zkijate-doc2{
    position: absolute;
    left: 5px;
     cursor:zoom-in;
  }
}
@media only screen and (max-width:1157px){
  .zakajite__wrapper > h2{ 
  font-size: 32px;
  line-height: 39px; /* 113.462% */
  }
  .zakajite__wrapper > h3{
    font-size: 22px;
    line-height: 29px;
    margin-bottom: 40px;
  }
  .zakijate__documnent-inner{
    padding: 0px ;
  }
  .zakijate__doc-text{
    max-width: 560px;
  }
  .div__zkijate-doc1{
    display: none;
  }
  .div__zkijate-doc2{
   display: none;
  }
  .zakijate__document-img{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 30px;
  }
}
@media only screen and (max-width:1100px){
  .zakajite-section{
    padding: 70px 50px;
  }
  .zakajite__text-inner > h5{
    color: #FFB800;
  text-align: center;
  font-family: Gilroy;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px; /* 131.818% */
  letter-spacing: 0.22px;
  margin-bottom: 10px;
  }
  .zakajite__text-inner > p{
    color: #323232;
  text-align: center;
  font-family: Gilroy;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 131.818% */
  letter-spacing: 0.22px;
  }
}
@media only screen and (max-width:1000px){
  .zakijate__doc-text {
    max-width: 380px;
}
}
@media only screen and (max-width:790px){
  .zakajite-section{
    padding: 50px 20px;
  }
  .zakajite__wrap-text{
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .zakajite__text-inner{
    width: 80%;
  }
  .zakijacte__cost{
    margin-bottom: 40px;
  }
}
@media only screen and (max-width:700px){
  .zakijate__document-img{
    flex-wrap: wrap;
    gap: 25px;  
  }
}
@media only screen and (max-width:660px){
  .zakajite__wrapper > h2{ 
    font-size: 28px;
    line-height: 29px; /* 113.462% */
    }
    .zakajite__wrapper > h3{
      font-size: 20px;
      line-height: 25px;
    }
  .zakijate__document{
    margin-bottom: 30px;
  }
  .zakijate__documnent-inner{
    flex-direction: column  ;
    text-align: center;
  }
}
@media only screen and (max-width:620px){
  .zakijacte__cost > h4{
    font-size: 18px;
    line-height: 25px; /* 135% */
  }
  .zakijacte__cost > h5{
    font-size: 27px;
    line-height: 34px; 
    margin-bottom: 8px;
  }
  .zakijacte__cost > button{
    width: 200px;
    height: 67px;
  font-size: 22px;
  }
}
@media only screen and (max-width:490px){
  .zakajite__wrapper > h2{ 
    font-size: 22px;
    line-height: 29px; /* 113.462% */
    }
    .zakajite__wrapper > h3{
      font-size: 18px;
      line-height: 25px;
    }
  .zakajite-section{
    padding: 50px 0;
  }
  .zakijate__documnent-inner>img{
    width: 67px;
    height: 63px;
    margin-bottom: 20px;
    margin-top: 10px;
  }
  .zakajite__text-inner{
    width: 90%;
  }
  .zakijate__document-img > img{
    width: 180px;
height: 240.732px;
  }
}