.header-section2 {
  margin-top: 15px;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  gap: 20px;
}
.header-section__img-wrapper {
  width: 481px;
  height: 796px;
  position: relative;
}
.hus {
  width: 100%;
  position: relative;
}
.hus > img{
  margin: 0 20px;
}

.img-box__text {
  position: absolute;
  right: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14px;
  bottom: 214px;
  cursor: pointer;
}
.img-box__text > span {
  display: block;
  width: 125px;
  color: #fff;
  font-family: "Roboto";
  opacity: 70%;
  font-weight: 400;
  font-size: 20px;
  line-height: 25.78px;
}
.header-section__text-wrapper {
  padding-top: 25px;
  max-width: 810px;
}
.header-section__text-wrapper > h4 {
  color: #fff;
  font-family: Stolzl;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 29px; /* 131.818% */
}
.header-section__text-wrapper > h5 {
  color: var(--white, #fff);
  font-family: Gilroy;
  font-size: 27px;
  font-style: normal;
  font-weight: 700;
  line-height: 34px; 
  margin-bottom: 50px;
}

.text-wrapper__pirice > h2 {
  color: #fff;
  font-family: Merriweather;
  font-size: 110px;
  font-style: normal;
  font-weight: 700;
  line-height: 119px; /* 108.182% */
  text-transform: uppercase;
  margin-bottom: 10px;
}
.text-wrapper__about {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 50px;
}
.text-wrapper__about > li {
  width: 392px;
  margin-bottom: 40px;
}
.text-wrapper__about > li > h6 {
  font-family: "Roboto Slab";
  font-size: 22px;
  line-height: 28px;
  font-weight: 900;
  color: #ffb800;
  margin-bottom: 10px;
}
.text-wrapper__about > li > p {
  color: var(--white, #FFF);
font-family: Gilroy;
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: normal;
opacity: 0.8;
}
.img-wrapper__box {
  display: flex;
  align-items: center;
  gap: 15px;
}
.img-wrapper__raspochka {
  padding: 28px 61px;
  border-radius: 4px;
  flex-shrink: 0;
  background-color: rgba(255, 184, 0, 1);
  cursor: pointer;
  color: #323232;
  text-align: center;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  outline: none;
  border: none;
}
.img-wrapper__raspochka2 {
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 4px;
  padding:24px 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  color: #323232;
  text-align: center;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  background-color: #ffe500;
}

.img-wrapper__box-text > del {
  color: rgba(255, 255, 255, 0.7);
  font-family: Gilroy;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: 27px; /* 135% */
  text-decoration-line: line-through;
}
.img-wrapper__box-text > h5 {
  color: #fff;
  font-family: Gilroy;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 47px; /* 117.5% */
}
.header-section__mobile-text{
  display: none;
}
.header-section__mobile-text {
  text-align: center;
}
.header-section__mobile-text > h4{
  color: #FFF;
text-align: center;
font-family: Stolzl;
font-size: 22px;
font-style: normal;
font-weight: 500;
line-height: 18px; 
margin-bottom: 10px;
}
.header-section__mobile-text > h5{
  color: #FFF;
text-align: center;
font-family: Stolzl;
font-size: 22px;
font-style: normal;
font-weight: 500;
line-height: 25px; 
margin-bottom: 10px;
}
.text-wrapper__pirice-mobile h2{
  color: #FFF;
text-align: center;
font-family: Merriweather;
font-size: 60px;
font-style: normal;
font-weight: 700;
line-height: 60.912px; /* 117.138% */
text-transform: uppercase;
}
.hus__img2{
  display: none;
}

@media only screen and (max-width:1290px){
  .header-section__text-wrapper > h4 {
  font-size: 20px;
  line-height: 25px; /* 131.818% */
}
.header-section__text-wrapper > h5 {
  font-size: 25px;
  line-height: 28px; /* 125.926% */
}
.text-wrapper__pirice > h2 {
  font-size: 90px;
  line-height: 100px;  
}
.text-wrapper__about > li{
  width: 260px;
}
.text-wrapper__about > li > h6 {
  font-size: 20px;
  line-height: 26px;
}
.text-wrapper__about > li > p {
  font-size: 18px;
  line-height: 20px;
  color: #fff;
}
.img-wrapper__raspochka {
  padding: 28px 61px;
  border-radius: 4px;
  font-size: 20px;

}
.img-wrapper__raspochka2 {
  padding: 16px 24px;  
  font-size: 20px;
}
.img-wrapper__box-text > del {
  font-size: 18px;
  line-height: 23px; /* 135% */
}
.img-wrapper__box-text > h5 {
  font-size: 33px;
  line-height: 40px; /* 117.5% */
}
}
@media only screen and (max-width:1130px){
  .header-section2{
    flex-direction: column;
    align-items: center;
  }
  .header-section__text-wrapper > h4 {
    display: none;
  }
  .header-section__text-wrapper > h5 {
   display: none;
  }
  .text-wrapper__pirice > h2 {
    display: none;  
  }
  .header-section__mobile-text{
    display: block;
  }
  .text-wrapper__about{
    justify-content: space-around ;
  }
  .img-wrapper__box{
    justify-content: center;
  }
}
@media only screen and (max-width:633px){
  .img-wrapper__raspochka {
    width: 200px;
    padding: 20px 49px;
    border-radius: 4px;
    font-size: 20px;
    height: 67px;
  
  }
  .img-wrapper__raspochka2 {
    width: 200px;
    padding: 20px;  
    font-size: 20px;
    height: 67px;
  }
  .img-wrapper__box-text > del {
    font-size: 16px;
    line-height: 20px; /* 135% */
  }
  .img-wrapper__box-text > h5 {
    font-size: 28px;
    line-height: 30px; /* 117.5% */
  }
}
@media only screen and (max-width:577px){
.hus__img1{
  display: none;
}
.hus__img2{
  display: block;
}
.header-section__img-wrapper{
  width: 240px;
  height: 400px;
}
.img-box__text{
      right: -35px;
      bottom: 106px;   
}
.img-box__text > img{
  width: 38.586px;
height: 38.586px;
}
.img-wrapper__box-text{
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}
.img-box__text > span{
  font-family: Roboto;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.img-wrapper__box{
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.text-wrapper__about{
  flex-direction: column;
}
.text-wrapper__about > li{
  width: 100%;
  text-align: center;
}
.img-wrapper__box-text > del {
  color: rgba(255, 255, 255, 0.70);
  font-family: Gilroy;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: 27px; /* 135% */
}
.img-wrapper__box-text > h5 {
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 47px; 
}
.hus > img{
  margin: 0 0px;
}
}
@media only screen and (max-width:350px){
  .header-section__text-wrapper > h4 {
    font-size: 12px;
    line-height: 14.844px; 
  }
  .header-section__text-wrapper > h5 {
    font-size: 15px;
    line-height: 17.403px;
  }
}