.header-section{
    background: radial-gradient(50% 50.00% at 50% 50.00%, rgba(0, 0, 0, 0.73) 0%, rgba(0, 0, 0, 0.00) 100%);
    background-image: url("../../assets/Images/png/header-sectionbag.png");

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-bottom: 20px;
}