.yandexmap-section{
    width: 100%;
    height: 600px;   
    display: block;
    position: relative;
}

@media only screen and (max-width:600px){
    .yandexmap-section{
        width: 100%;
        height: 500px;   
        display: block;
        position: relative;
    }  
}   

.yadne{
   filter:  brightness(0) saturate(100%) invert(83%) sepia(35%) saturate(306%) hue-rotate(360deg) brightness(101%) contrast(102%) opacity(50%);
}